<% provide(:title, "All users") %>
<h1>All users</h1>

<%= will_paginate %>
<table class="table table-hover table-bordered">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th></th>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <td><%= gravatar_for u %></td>
    <td><%= link_to u.name, u %></td>
    <td>
    <% if current_user.admin? && !current_user?(u) %>
    <%= link_to "delete", u, method: :delete, confirm: "Are you sure?", class: 'btn' %>
    <% end %>
    </td>
  <% end %>
  </tr>
</table>
<%= will_paginate %>