<%= provide(:title, @user.name) %>



<div class="well">
<h1>Welcome, <%= @user.name %></h1>
<%= gravatar_for @user %>
<h4>Personal Information</h4>
<p><b>Email: </b><%= @user.email %></p>
<p><b>Gender: </b><%= @user.gender %></p>
<p><b>Age: </b><%= @user.age %></p>
<p><b>Phone: </b><%= @user.phone_number %></p>
<p><b>Address: </b><%= @user.address %></p>
<p><b>Postal Code: </b><%= @user.post_code %></p>

<%= link_to 'Update Profile', edit_user_path(@user), class: 'btn btn-primary' %>

</div>