<%= provide(:title, "Order") %>

<p id="notice"><%= notice %></p>
<div class="well">
<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>
</div>
<div class="well">
<h3>Order</h3>
<% @order.line_items.each do |i| %>
  <% @product = Product.find(i.product_id) %>
  <p><h4><%= link_to @product.title, @product, target: '_blank' %></h4></p>
  <p>Quantity: <%= i.quantity %></p>
<% end %>
</div>
<div class="well">
<h3>Groupon</h3>
<% @order.groupon_links.each do |i| %>
  <% @groupon = Groupon.find(i.groupon_id) %>
  <p><h4><%= link_to @groupon.title, @groupon, target: '_blank' %></h4></p>
  <p>Quantity: <%= i.quantity %></p>
<% end %>
</div>
<% if signed_in %>
<% if @current_user.admin? %>
<p><%= link_to 'Edit', edit_order_path(@order) %></p>
<% end %>
<% end %>
<p><%= link_to 'Back', orders_path, class: 'btn btn-primary' %></p>
