<%= provide(:title, "Shopping Cart") %>

<p id="notice"><%= notice %></p>

<%= link_to 'Back', products_path, class: 'btn' %>
<ul>
  <% @cart.line_items.each do |i| %>
  <li><h4><%= i.product.title %></h4></li>
  <li><b>Quantity:</b><%= i.quantity %></li>
  <li><b>Price:</b><%= number_to_currency(i.total_price) %></li>
  <% end %>
</ul>
<h3><b>Total Price:</b><%= number_to_currency(@cart.total_price) %></h3>
<%= button_to 'Empty Cart', @cart, method: :delete, confirm: 'Are you sure?', class: "btn" %>