<%= provide(:title, "Shopping Cart") %>

<% if @cart.line_items.empty? && @cart.groupon_links.empty? %>

<h3>Your shopping cart is empty.</h3>

<% else %>

<% if @cart.line_items.count > 0 %>
<div class="well">
<h3>Orders</h3>
<div>
  <% @cart.line_items.each do |i| %>
  <div><h4><%= link_to i.product.title, i.product %></h4></div>
  <div><b>Quantity:</b><%= i.quantity %></div>
  <div><b>Price:</b><%= number_to_currency(i.total_price) %></div>
  <div><%= link_to 'Edit', edit_line_item_path(i), class: 'btn btn-success' %></div>
  <% end %>
</div>
</div>
<% end %>
<br />
<% if @cart.groupon_links.count > 0 %>
<div class="well">
<h3>Groupons</h3>
<div>
  <% @cart.groupon_links.each do |i| %>
  <div><h4><%= link_to i.groupon.title, i.groupon %></h4></div>
  <div><b>Quantity:</b><%= i.quantity %></div>
  <div><b>Price:</b><%= number_to_currency(i.total_price) %></div>
  <div><%= link_to 'Edit', edit_groupon_link_path(i), class: 'btn btn-success' %></div>
  <% end %>
</div>
</div>
<% end %>

<h3><b>Total Price:</b><%= number_to_currency(@cart.total_price) %></h3>
<%= button_to 'Checkout', new_order_path, method: :get, class: "btn btn-success" %>
<%= button_to 'Empty Cart', @cart, method: :delete, confirm: 'Are you sure?', class: "btn btn-warning" %>
<%= link_to 'Back', categories_path, class: 'btn btn-primary' %>
<% end %>

<footer style="margin-top: 50px; margin-bottom: 50px;">
  <p>&copy; Copyright 2013 RailsEshop. All rights reserved</p>
</footer>