<%= provide(:title, "Products") %>

<div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Category</li>
              <% @categories.each do |category| %>
              <li><%= link_to category.title, category %></li>
                <% if signed_in && @current_user.admin? %>
                  <li><%= link_to 'Edit', edit_category_path(category) %></li>
                  <li><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <% end %>
              <% end %>
              <% if signed_in && @current_user.admin? %>
                <li><%= link_to 'New Category', new_category_path %></li>
              <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <!--
          <div class="hero-unit">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
        -->
          <div class="row-fluid">
            <% @products.each do |p| %>
            <div class="span4">
              <h2><%= p.title %></h2>
              <p><%= link_to 'View details', p, class: 'btn' %></p>
              <% if signed_in && @current_user.admin? %>
              <p><%= link_to 'Edit', edit_product_path(p) , class: 'btn'%></p>
              <p><%= link_to 'Destroy', p, confirm: 'Are you sure?', method: :delete, class: 'btn' %></p>
              <% end %>
              <p><%= button_to 'Add to Cart', line_items_path(product_id: p), class: 'btn' %></p>
            </div>
            <% end %>
          </div><!--/row-->
        </div><!--/span-->
</div><!--/row-->
<% if signed_in && @current_user.admin? %>
<%= link_to 'New Product', new_product_path %>
<% end %>