<%= provide(:title, "Products") %>

<div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Category</li>
              <% @categories.each do |category| %>
                <% if @category == category %>
                  <li class="active"><%= link_to category.title, category %></li>
                <% else %>
                  <li><%= link_to category.title, category %></li>
                  <% end %>
                <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <!--
          <div class="hero-unit">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
        -->
          <div class="rows">
            <ul class="thumbnails">
              <% @products.each do |p| %>
              <li class="span4" style="height: 600px;">
                <div class="thumbnail">
                  <div class="caption">
                    <td><%= image_tag(p.image_url, class: 'list_image') %></td>
                    <h4><%= p.title %></h4>
                    <p>Price: <%= p.price %></p>
                    <% if p.stock <= 0 %>
                    <p>Out of stock</p>
                    <p><%= button_to 'Out of Stock', '#', disabled: true, class: 'btn' %></p>
                    <% else %>
                    <p><%= p.stock %> items left</p>
                    <p><%= button_to 'Add to Cart', line_items_path(product_id: p), class: 'btn btn-success' %></p>
                    <% end %>
                    <p><%= link_to 'View Details', p, class: 'btn btn-primary' %>
                      <% if signed_in %>
                      <% if @current_user.admin? %>
                        <%= link_to 'Edit', edit_product_path(p), class: 'btn' %> <%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
                      <% end %>
                      <% end %>
                    </p>
                  </div>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div><!--/span-->
</div><!--/row-->
<!--
<%= link_to 'New Product', new_product_path %>
-->