<%= provide(:title, "Products") %>

<div class="rows">
  <ul class="thumbnails">
    <% @products.each do |p| %>
    <li class="span4" style="height: 700px;">
      <div class="thumbnail">
        <div class="caption">
          <td><%= image_tag(p.image_url, class: 'list_image') %></td>
          <h3><%= p.title %></h3>
          <p>Price: <%= p.price %></p>
          <% if p.stock <= 0 %>
          <p>Out of stock</p>
          <p><%= button_to 'Out of Stock', '#', disabled: true, class: 'btn' %></p>
          <% else %>
          <p><%= p.stock %> items left</p>
          <p><%= button_to 'Add to Cart', line_items_path(product_id: p), class: 'btn btn btn-success' %></p>
          <% end %>
          <p><%= link_to 'View Details', p, class: 'btn btn-primary' %>
          <% if signed_in %>
          <% if @current_user.admin? %>
          <%= link_to 'Edit', edit_product_path(p), class: 'btn' %> <%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
          <% end %>
          <% end %>
          </p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<br />
<% if signed_in && @current_user.admin? %>
<%= link_to 'New Product', new_product_path %>
<% end %>