<h1>Listing products</h1>

<table>
  <!--
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image url</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
-->
<% @products.each do |p| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= image_tag(p.image_url, class: 'list_image') %></td>
    <td class="list-description">
      <dl>
        <dt><b><%= p.title %></b></dt>
        <dd><%= truncate(strip_tags(p.description), length: 80) %></dd>
      </dl>
    </td>
    <td><%= p.price %></td>
    <td class="list_actions">
      <%= link_to 'Show', p %><br/>
      <%= link_to 'Edit', edit_product_path(p) %>
      <%= link_to 'Destroy', p, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Product', new_product_path %>