<%= provide(:title, @product.title) %>

<p id="notice"><%= notice %></p>
<div style="max-width: 800px;">
<p>
  <b>Category:</b>
  <%= link_to @category.title, @category %>
</p>

<h3><%= @product.title %></h3>

<div class="well">
  <%= image_tag(@product.image_url) %>
</div>

<div class="well">
  <b>Price:</b>
  <h4 style="color: rgb(153, 0, 0);"><%= number_to_currency(@product.price) %></h4>
  <b>Stock:</b>
  <%= @product.stock %>
</div>

<%= button_to 'Add to Cart', line_items_path(product_id: @product.id), class: 'btn btn-success' %>

<div class="well">
  <b>Description:</b>
  <%= raw @product.description %>
</div>

<% if signed_in && @current_user.admin? %>
<%= link_to 'Edit', edit_product_path(@product), class: 'btn' %>
<%= link_to 'Back', products_path, class: 'btn' %>
<% end %>
</div>
<footer>
  <p>&copy; Copyright 2013 RailsEshop. All rights reserved</p>
</footer>