<%= provide(:title, 'Groupon') %>
<h1>Best offers today!</h1>
<div class="rows">
  <ul class="thumbnails">
    <% @groupons.each do |groupon| %>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <%= image_tag '300_200.png' %>
          <h3><%= groupon.title %></h3>
          <p>Price: <%= groupon.price %></p>
          
          <% @TimeLeft = (((groupon.created_at + groupon.duration * 3600) - Time.now) / 3600).round %>
          <p><%= @dis %>% off</p>
          <p><%= groupon.stock %> items left</p>
          <% if @TimeLeft >= 0 %>
          <p><%= @TimeLeft %> hours left</p>
          <% else %>
          <p>Finished already</p>
          <% end %>
          <% if @TimeLeft >= 0 %>
          <p><%= button_to 'Order Now', groupon_links_path(groupon_id: groupon), class: 'btn' %></p>
          <p><%= link_to 'Show', groupon, class: 'btn btn-primary' %> <%= link_to 'Edit', edit_groupon_path(groupon), class: 'btn' %> <%= link_to 'Destroy', groupon, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></p>
          <% else %>
          <p><%= button_to 'Finished', '#', disabled: true, class: 'btn' %></p>
          <p><%= link_to 'Show', groupon, class: 'btn btn-primary' %> <%= link_to 'Edit', edit_groupon_path(groupon), class: 'btn' %> <%= link_to 'Destroy', groupon, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></p>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<%= link_to 'New Groupon', new_groupon_path %>