<%= provide(:title, 'Groupon') %>
<h1>Best offers today!</h1>
<div class="rows">
  <ul class="thumbnails">
    <% @groupons.each do |groupon| %>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <%= image_tag '300_200.png' %>
          <h3><%= groupon.title %></h3>
          <h4 style="color: rgb(153, 0, 0);">Price Today: <%= number_to_currency groupon.price %></h4>
          <p>Original Price: <%= number_to_currency groupon.original_price %></p>
          <% @TimeLeft = (((groupon.created_at + groupon.duration * 3600) - Time.now) / 3600).round %>
          <% @days = @TimeLeft / 24 %>
          <% @hours = @TimeLeft % 24 %>
          <% @ordered = GrouponLink.count(conditions: groupon_id = groupon.id) %>
          
          <% if @ordered != nil %>
          <h3><%= @ordered %> people ordered</h3>
          <% end %>
          <% if @TimeLeft >= 0 %>
          <h5><%= @days %> days <%= @hours %> hours left</h5>
          <p><%= button_to 'Order Now', groupon_links_path(groupon_id: groupon), class: 'btn btn-success' %></p>
          <% else %>
          <p>Finished already</p>
          <p><%= button_to 'Finished', '#', disabled: true, class: 'btn' %></p>
          <% end %>
          <p><%= link_to 'View Details', groupon, class: 'btn btn-primary' %>
            <% if signed_in && @current_user.admin? %>
            <%= link_to 'Edit', edit_groupon_path(groupon), class: 'btn' %> <%= link_to 'Destroy', groupon, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
            <% end %>
          </p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<% if signed_in && @current_user.admin? %>
<%= link_to 'New Groupon', new_groupon_path %>
<% end %>

<footer>
  <p>&copy; Copyright 2013 RailsEshop. All rights reserved</p>
</footer>