<%= provide(:title, @groupon.title) %>

<p id="notice"><%= notice %></p>

<h3><%= @groupon.title %></h3>

<div class="well">
  <%= raw @groupon.description %>
</div>

<div class="well">
  <b>Price:</b>
  <h3 style="color: rgb(153, 0, 0);"><%= number_to_currency @groupon.price %></h3>
  <b>Original price:</b>
  <%= number_to_currency @groupon.original_price %>
</div>
	<% @TimeLeft = (((@groupon.created_at + @groupon.duration * 3600) - Time.now) / 3600).round %>
    <% @days = @TimeLeft / 24 %>
    <% @hours = @TimeLeft % 24 %>
    <p><%= @groupon.stock %> items left</p>
    <% if @TimeLeft >= 0 %>
    <p><%= @days %> days <%= @hours %> hours left</p>
    <p><%= button_to 'Order Now', groupon_links_path(groupon_id: @groupon), class: 'btn btn-success' %></p>
    <% else %>
    <p>Finished already</p>
    <p><%= button_to 'Finished', '#', disabled: true, class: 'btn' %></p>
    <% end %>
<% if signed_in && @current_user.admin? %>
  <p><%= link_to 'Edit', edit_groupon_path(@groupon), class: 'btn btn-primary' %></p>
<% end %>
  <p><%= link_to 'Back', groupons_path, class: 'btn btn-primary' %></p>
