<%= provide(:title, @groupon.title) %>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @groupon.title %>
</p>

<div class="well">
  <b>Description:</b>
  <%= raw @groupon.description %>
</div>

<div class="well">
  <b>Price:</b>
  <%= @groupon.price %>
  <b>Original price:</b>
  <%= @groupon.original_price %>
</div>

<%= button_to 'Add to Cart', groupon_links_path(groupon_id: @groupon.id), class: 'btn btn-success' %>

<%= link_to 'Edit', edit_groupon_path(@groupon) %> |
<%= link_to 'Back', groupons_path %>
