<%= provide(:title, "Home") %>
<div class="hero-unit">
  <h1>Best offers today!</h1>
  <p>I went to the woods because I wished to live deliberately, to front only the essential facts of life, and see if I could not learn what it had to teach, and not, when I came to die, discover that I had not lived.</p>
  <p><%= link_to 'Order Now', groupons_path, class: 'btn btn-primary btn-large' %></p>
</div>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h3>New arrival</h3>
<div class="row">
  <% @products.each do |p| %>
  <div class="span4">
  	<h5 class="list_title"><%= p.title %></h5>
  	<%= image_tag(p.image_url, class: 'list_image') %>
  	<!--<%= sanitize(p.description) %>-->
  	<p class="price"><b><%= number_to_currency(p.price) %><b></p>
  	<p><%= link_to 'View Details', p, class: 'btn' %></p>
  	<p><%= button_to 'Add to Cart', line_items_path(product_id: p), class: 'btn btn-success', remote: true %></p>
  </div>
  <% end %>
</div>
<hr>
<footer>
  <p>&copy; Copyright 2013 RailsEshop. All rights reserved</p>
</footer>