<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="row">
  <% @products.each do |p| %>
  <div class="span4">
  	<h5 class="list_title"><%= p.title %></h5>
  	<%= image_tag(p.image_url, class: 'list_image') %>
  	<!--<%= sanitize(p.description) %>-->
  	<p class="price"><b><%= number_to_currency(p.price) %><b></p>
  	<p><%= link_to 'View Details', p, class: 'btn' %></p>
  </div>
  <% end %>
</div>