<h1>Listing groupon_links</h1>

<table>
  <tr>
    <th>Groupon</th>
    <th>Cart</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groupon_links.each do |groupon_link| %>
  <tr>
    <td><%= groupon_link.groupon_id %></td>
    <td><%= groupon_link.cart_id %></td>
    <td><%= link_to 'Show', groupon_link %></td>
    <td><%= link_to 'Edit', edit_groupon_link_path(groupon_link) %></td>
    <td><%= link_to 'Destroy', groupon_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Groupon link', new_groupon_link_path %>
